<template>
<div id="container">

    <video autoplay muted loop id="video_bg1" class="myVideo">
            <source src="static/textures/bg_mode1.mp4" type="video/mp4">
        </video>

    <video autoplay muted loop id="video_bg3" class="myVideo">
            <source src="static/textures/bg_mode3.mp4" type="video/mp4">
        </video>
    <!-- LOADING -->
    <div id="loading-posenet" class="loading">
        <h2>Loading PoseNet...</h2>
        <div style="color:white; z-index:2; width:400px;margin-top:200px; padding-left: 50px;">
            If this message is showing then the webcam hasn't loaded properly. Please restart the system, and unplug and reattach the camera
        </div>
    </div>

    <div id="loading-models" class="loading">

        <h2 style="margin-top:50px;">Loading Models...</h2>
        <div class="lds-dual-ring"></div>

    </div>
    <div id='noiseLayer'></div>

    <!-- WEBCAM INPUT -->
    <video id="video" width="1920" height="1080" autoplay style="z-index:-12;position:absolute; left:-1000px; top:0; width:480px; height:270px; display:fixed"></video>

    <!-- THREEJS CANVAS -->
    <canvas id="canvas"></canvas>

    <div id="score" style="display:none;" v-if="state===2">
    </div>


    <canvas id="image" style="display:none; top:30px; left:30px; width:20px; height:20px; border:10px solid red;">
        
        </canvas>


    <div v-if="debug" id="overlay" style="width: 400px;">

        <h5>DEBUG</h5>
        <table style="width:100%">
            <tr>
                Poses = {{activity}}

            </tr>

            <tr>
                Scene State = {{state}}
            </tr>

            <tr>
                Long Term Poses = {{LT_activity}}
            </tr>
        </table>
    </div>


</div>
</template>

<script src='./main.js'>

</script>


<style>
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
#text-1-1 {
    position: absolute;
    left: 850px;
    top: 150px;
    font-size:8px;
}

#text-1-2 {
    position: absolute;
    left: 1200px;
    top: 150px;
        font-size:8px;

}

#score {
    position: absolute;
    z-index: 1000;
    left: 93.5%;
    top: 15%;
    width: 100px;
    font-family: sans-serif;
    color: #000;
}

#container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #007D56 0%, #00ACC8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    display: none;
    /* di */
}

#threejsOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ropa Sans', sans-serif, monospace;
}

#overlay {
    z-index: 10;
    position: fixed;
    width: 200px;
    height: 200px;
    border: 1px dashed gray;
    background: rgba(255, 255, 255, 0.4);
}

#canvas {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
}

#noiseLayer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    left: 0;
}

.pulsating-circle {
    position: absolute;
    left: 95%;
    top: 10%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
    height: 30px;
}

h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 10vw;
    font-weight: 900;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-color: white;
    animation: .8s shake infinite alternate;
}

@keyframes shake {
    0% {
        transform: skewX(-15deg);
    }
    5% {
        transform: skewX(15deg);
    }
    10% {
        transform: skewX(-15deg);
    }
    15% {
        transform: skewX(15deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

#loading {
    background: black;
    height: 100%;
    color: white;
    font-size: 100px;
    font-family: sans-serif;
}

.pulsating-circle:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #383838;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pulsating-circle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.33);
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.33);
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulse-dot {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse-dot {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 12px solid #000;
    border-color: #ffe200 transparent #ffe200 transparent;
    -webkit-animation: lds-dual-ring 1s linear infinite;
    animation: lds-dual-ring 1s linear infinite;
}

.lds-dual-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.loading {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}



.text-1-container {
    font-family:'Archivo Black', sans-serif;
    text-align: center;
    width: 280px;
    height: 180px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}

.fade-container {
    width: 350px;
    height: 280px;
    position: relative;
    transition: background 0.20s ease-in-out;
}

.fade-container:hover {
    cursor: pointer;
}

.fade {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #C6F2EF;
    text-align: center;
    width: 280px;
    line-height: 1.8em;
}

.bounceInDown {
    opacity: 0;
    -webkit-animation: bounceInDown 1s;
    animation: bounceInDown 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeInDown {
    opacity: 0;
    -webkit-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
</style>